//////////////ЗАГОЛОВКИ////////////////////
.label {
  margin: 0;

  &_h1-style, &_h2-style {
    font-family: $headerFont;
  }

  &_h1-style {
    font-size: rem(24);
    line-height: rem(30);
  }

  &_h2-style {
    font-size: rem(19);
    line-height: rem(24);
  }

  &_h3-style {
    font-family: $mainFont;
    font-weight: bold;
    text-transform: uppercase;
    font-size: rem($mainFontSize - 2px);
    line-height: rem(15);
    color: $dark-100;
  }
}