//- Все примеси в этом файле должны начинаться c имени блока (label)

mixin label(params)

  //- Принимает: {object}
  //-   text:  {string} - текст кнопки
  //-   mods:  {string} - список модификаторов
  //-   tag:   {string} - тег
  //- Вызов:
        +label('Лейбл')
        +label('Лейбл', 'danger', 'div')
  -
    // список модификаторов
    let block_name = 'label',
        main_class = block_name;

    //Проверка на миксин без параметров так как 
    //при пустом params, не деструктурируются значения по умолчанию
    if (typeof(params) == 'undefined') {
    var params = {text: 'empty params in ='+block_name+'='};
      }
    //деструктуризация params в переменные и задание им значений по умолчанию
    let {
      text = '',
      mods = 'h3-style',
      tag  = 'h3'
         } = params;

    if(mods !== '') {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        main_class += ' ' + block_name + '_' + modsList[i].trim();
      }
    }

  #{tag}(class=main_class)&attributes(attributes)!= text
    block
