
mixin rate-button(params)

  //- без параметров работает
  //- Принимает:
  //-   params {object}
  //-     value: ''           {integer} - количество звёзд
  //-     id   : ''           {string} - идентификатор свойства, к которому принадлежит рейтинг

  //- Вызов:
      +rate-button({
        value: '',
        id : ''
      })


    //- БЛОК ПРИСВОЕНИЯ БАЗОВЫХ ЗНАЧЕНИЙ -//
  -
    let block_name   = 'rate-button',
        main_class   = block_name,
        star_class   = block_name + '__star';

    //Проверка на миксин без параметров так как 
    //при пустом params, не деструктурируются значения по умолчанию
    if (!params) {
      var params = { value: 0 };
    }

    //деструктуризация params в переменные и задание им значений по умолчанию
    let {
      value       = 0,
      id          = '000'
                } = params;


    //- ФУНКЦИОНАЛЬНЫЙ БЛОК -//
      value = (value < 0 || value > 5) ? 0 : value;

  //- БЛОК ВЫВОДА -//

  div(class = main_class data-id= id)
    - for (let i=5; i>0; i--) {
        div(class= (i > value) ? star_class : star_class+' '+star_class+"_active",
          js-data-id= i)
    - }