extends ../main

//- block head
//-   link(href="assets/css/minimum.css" rel="stylesheet")

block variables
  - var pageTitle = 'Elements';
  - var description = 'Elements page';
  - var pageClass = 'elem-page';

block content
  section
    .container

      +logo
      +label
      +label({text: 'title', mods: 'h3-style', tag: 'label'})
      +input-field({
        title: "text field",
        placeholder: "Email",
        type: "email"
      })
      +input-field({type: "lll", placeholder: "another type"})
      +input-field({title: "Псевдосписок", mods: "medium, dropdown", type: "date"})
      +input-field({title: "Короткий", mods: "short, dropdown", type: "email", placeholder: "m@il"})
      //- +input-field({
      //-   title: "text field",
      //-   value: "This is pretty awesome!"
      //- })
      //- +input-field({
      //-   title: "Со стрелочкой",
      //-   type: "dropdown",
      //-   value: "Сколько гостей",
      //-   placeholder: "Тут вам не там"
      //-   })(readonly=true)
      //- +input-field({
      //-   title: "text field 2 ",
      //-   placeholder: "Пароль",
      //-   type: "password"
      //- })
      //- +input-field({
      //-   title: "masked text field",
      //-   type: "date"
      //- })

      //- span.label_h1-style Можно пригласить гостей
      //- .h1-style English
      //- p.for-icons xText-totot o
      //- label Для проверки "label"



      //- img(src=require('@images/5377691184.jpg') alt="logo")
