extends ../main

//- block head
//-   link(href="assets/css/minimum.css" rel="stylesheet")

block variables
	- var title = 'Elements';
	- var description = 'Elements page';
	- var pageClass = 'elem-page';
	//- - var imgPath = 'assets/images/';
block content
	section
		.container

			+logo
			+text-field({label: "text-field", placeholder: "Email", name: "Email",type: "email"})
			+text-field({label: "text-field", value: "This is pretty awesome"})
			//- img(src='images/5377691184.jpg') alt="logo")
			span Можно пригласить гостей
			h1 English
			img(src=require('@images/5377691184.jpg') alt="logo")
			//- img(src='~images'+require('../bem/blocks/logo/img/logo.svg') alt="logo")
			