extends ../main

//- block head
//-   link(href="assets/css/minimum.css" rel="stylesheet")

block variables
  - var pageTitle = 'Elements';
  - var description = 'Elements page';
  - var pageClass = 'elem-page';

block content
  section
    .container

      +logo
      +text-field({
        label: "text field",
        placeholder: "Email",
        name: "email"
      })

      +text-field({
        label: "text field",
        value: "This is pretty awesome"
      })

      +masked-text({
        label: "masked text field",
        name: "date"
      })

      span Можно пригласить гостей
      .h1-style English
      p.for-icons
      label Для проверки



      //- img(src=require('@images/5377691184.jpg') alt="logo")
