
mixin input-date-dropdown(params)

  //- Принимает: {object}
  //-   title_1:  {string} - текст первого заголовка
  //-   title_2:  {string} - текст второго заголовка по умолчанию равняется значению title_1
  //-   value_1:   {string, date} - строковое значение в формате даты "ДД.ММ.ГГГГ"
  //-   value_2:   {string, date} - строковое значение в формате даты "ДД.ММ.ГГГГ"
  //- Вызов:
        +input-date-dropdown({
          title_1: "",
          title_2: "",
          value_1: "",
          value_2: ""
          })

    //- БЛОК ПРИСВОЕНИЯ БАЗОВЫХ ЗНАЧЕНИЙ -//
  -
    let block_name = 'input-date-dropdown',
        main_class = block_name,
        input_mods = 'dropdown, short',
        name_1     = 'first_date',
        name_2     = 'last_date';

    //Проверка на миксин без параметров так как 
    //при пустом params, не деструктурируются значения по умолчанию
    if (!params) {
      var params = {title_1: 'empty params in ='+block_name+'='};
    }
    //деструктуризация params в переменные и задание им значений по умолчанию
    let {
      title_1 = '',
      title_2 = title_1,
      value_1 = '',
      value_2 = ''
            } = params;


    //- ФУНКЦИОНАЛЬНЫЙ БЛОК -//


    //- БЛОК ВЫВОДА -//

  div(class=main_class)&attributes(attributes)
    +input-field({
      title: title_1,
      type : "date",
      name : name_1,
      mods : input_mods,
      value: value_1
      })
    +input-field({
      title: title_2,
      type : "date",
      name : name_2,
      mods : input_mods,
      value: value_2
      })
    block
