//- Все примеси в этом файле должны начинаться c имени блока (label)

mixin input-date-dropdown(params)

  //- Принимает: {object}
  //-   title_1:  {string} - текст первого заголовка
  //-   title_2:  {string} - текст второго заголовка
  //-   tag:   {string} - тег (по умолчанию h3 или берется из первых двух символов mods)
  //- Вызов:
        +label({
          text: "Title",
          mods: "h1-style",
          tag: "label"
          })

    //- БЛОК ПРИСВОЕНИЯ БАЗОВЫХ ЗНАЧЕНИЙ -//
  -
    // список модификаторов
    let block_name = 'input-date-dropdown',
        main_class = block_name,
        mods       = 'dropdown, short';

    //Проверка на миксин без параметров так как 
    //при пустом params, не деструктурируются значения по умолчанию
    if (typeof(params) == 'undefined') {
    var params = {title_1: 'empty params in ='+block_name+'='};
      }
    //деструктуризация params в переменные и задание им значений по умолчанию
    let {
      title_1 = '',
      title_2 = title_1,
      value_1 = '',
      value_2 = ''
            } = params;


    //- ФУНКЦИОНАЛЬНЫЙ БЛОК -//


    //- БЛОК ВЫВОДА -//

  div(class=main_class)&attributes(attributes)!= text
    +input-field({
      title: title_1,
      type : "date",
      name : "first_date",
      mods : mods,
      value: value_1
    })
    +input-field({
      title: title_2,
      type : "date",
      name : "last_date",
      mods : mods,
      value: value_2
    })
    block
