.masked-text {
	font-weight: 58px;

	&__label { 
		display: flex; //для того чтобы он был сверху над инпутом
	}

	&__input {
		border: 1px solid $dark-25
			{radius: 4px}
		width: 320px;
		height: 44px;
		padding: 13px rem(15);
		@include duration();

		&:focus, &:hover {
			border: 1px solid $dark-50;
			color: $dark-75;
		}

		&:valid { //поставил, потому что менялся цвет в настройках браузера
			color: $dark-100;
		}

		&::placeholder { //поставил, потому что менялся цвет в настройках браузера
			color: $dark-25;
			opacity: 1;

		}
	}
}