//- +text-field({label: "Label", placeholder: "Placeholder", id: "Id", name: "Name", type:"type", value: "Value"})

mixin masked-text(data)
	.masked-text
		label.masked-text__label.h3-style(for=!(data.id)?data.name:data.id)=data.label
		input.masked-text__input(
		 type='text',
		 name=!(data.name)?data.id:data.name,
		 id=!(data.id)?data.name:data.id
		 value=data.value
		 placeholder="ДД.ММ.ГГГГ")
