.masked-text {
  width: rem(320);

  &__label {
  }

  &__input {
    font-family: $mainFont; //почему-то надо перезадавать фонт в инпуты
    border: 1px solid {
      radius: 4px;
      color: $dark-25;
      }
    padding: rem(13) rem(15);
    width: 100%;
    @include duration();

    &:focus, &:hover {
      border-color: $dark-50;
      color: $dark-75;
    }

    &:valid { //поставил, потому что менялся цвет в настройках браузера при разфокусировке
      color: $dark-100;
    }

    @include placeholder {
      color: $dark-25;
    }
  }
}