
mixin masked-text(data)
  .masked-text

    label.masked-text__label.h3-style=data.label

      input.masked-text__input(
      type="text",
      name=!(data.name)?"text":data.name,
      value=data.value,
      placeholder="ДД.ММ.ГГГГ")