
mixin input-field(params)
  //- без параметров работает как type='text' без заголовка
  //- Принимает:
  //-   params {object}
  //-     title: ''           {string} - текст с названием (выводится над полем в теге label)//при пустом поле будет input без заголовка
  //-     type: ''            {string} - модификаторы блока input ('email','date','password', 'dropdown'), //при пустом поле и при date значение "text" (обрабатывается в js этого миксина)
  //-     name: ''            {string} - имя блока для Form (при отстутсвии принимает значение type)
  //-     placeholder:        {string} - текст, показываемый, пока ничего не выбрано (аналогично html)
  //-     value:              {string} - редактируемый текст в поле (аналогично html)

  //- Вызов:
      +input-field({
        title: 'Название поля',
        type: 
        name: '',
        placeholder: '',
        value: ''
      })

  //- ФУНКЦИОНАЛЬНЫЙ БЛОК -//
  -
    let default_type = 'text',
        input_class = '',
        block_name = 'input-field';

    //Проверка на миксин без параметров так как 
    //при пустом params, не деструктурируются значения по умолчанию
    if (typeof(params) == 'undefined') {
    var params = {placeholder: 'empty params in "input-field"'};
      }

    //деструктуризация params в переменные и задание им значений по умолчанию
    let {title = '',
      type = default_type,
      name = type,
      placeholder = '',
      value = ''} = params;

    //проверка на значение date
    if (type == 'date') {
      input_class+= ' js-input_masked-date';
      placeholder = 'ДД.ММ.ГГГГ';
      type = default_type;
      }
    else {
    //проверка на некорректный ввод type (должен идти после проверки на значение "date")
      if (!['text', 'email', 'password'].includes(type)) {type = default_type;}
    }

   //- БЛОК ВЫВОДА ПОЛЕЙ -//

  div(class = block_name)&attributes(attributes)
    +label({text: title, mods: 'h3-style', tag: 'label'})(class= block_name+'__label')
      input.input-field__input(
        class = input_class,
        type  = type,
        name  = name,
        value = value,
        placeholder = placeholder)
    block
