.input-field {
  position: relative;
  width: rem(320);

  &_standart {
  }

  &_medium {
    width: rem(266);
  }

  &_short {
    width: rem(150);
  }

  &_dropdown:after {
    position: absolute;
    font-size: $materialFontSize;
    font-family: "Material Icons";
    cursor: pointer;
    content: 'expand_more';
    color: $dark-75;
    right: rem(10);
    bottom: rem(9);
  }

  &_subscribe:after {
    position: absolute;
    font-size: $materialFontSize;
    font-family: "Material Icons";
    cursor: pointer;
    content: 'arrow_forward';
    color: transparent;
    background: $gradient;
    background-clip: text;
    right: rem(10);
    bottom: rem(9);
  }

  &__label {
  }

  &__input {
    font-family: $mainFont; //переназначаем шрифт, потому что input находится в label и наследует
    // text-transform: none;
    outline: none; //чтобы input не подсвечивался 
    box-sizing: border-box;
    background: $input-background;
    border: solid {
      color: $dark-25;
      radius: rem(4);
      width: rem(1);
      }
    padding: rem(13) rem(35) rem(13) rem(15);
    width: 100%;

    transition-property: border;
    transition-duration: $duration;

    &:focus, &:hover {
      border-color: $dark-50;
      color: $dark-75;
    }

    &:valid { //поставил, потому что менялся цвет в настройках браузера при разфокусировке
      color: $dark-75;
    }

    &:invalid {
      color: $invalid-color;
    }

    &:active {
    }

    @include placeholder {
      color: $dark-25;
    }
  }
}