.text-field {

  &__label {
    position: relative;
    display: inline-block;
    height: rem(62);
    width: rem(320);
  }

  &__input {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: $mainFont; //почему-то надо перезадавать фонт в инпуты
    border: 1px solid {
      radius: 4px;
      color: $dark-25;
      }
    width: 100%;
    height: rem(44);
    padding: rem(13) rem(15);
    @include duration();

    &:focus, &:hover {
      border-color: $dark-50;
      color: $dark-75;
    }

    &:valid { //поставил, потому что менялся цвет в настройках браузера
      color: $dark-100;
    }

    &::placeholder { //поставил, потому что менялся цвет в настройках браузера
      color: $dark-25;
      opacity: 1;
    }
  }
}