
mixin text-field(data)
  .text-field

    label.text-field__label.h3-style=data.label

      input.text-field__input(
      type="text",
      name=!(data.name)?"text":data.name,
      value=data.value,
      placeholder=data.placeholder)
