.text-field {}

.text-field__label {
	display: flex;
//	flex-wrap: wrap;
//	flex-direction: row;
}

.text-field__input {
	border: 1px solid $dark-25;
	border-radius: 4px;
	font-family: $mainFont;
	width: 320px;
	height: 44px;
	padding: 13px rem(15);
	transition-duration: 0.5s;
}

.text-field__input:focus {
	border: 1px solid $dark-100;
	color: $dark-100;
}