.text-field {

	&__label {
		display: flex;
	}

	&__input {
		border: 1px solid $dark-25
			{radius: 4px}
		background-image: url('~@images/5377691184.jpg');
		width: 320px;
		height: 44px;
		padding: 13px rem(15);
		@include duration();

		&:focus:hover {
			color: $dark-75;
			border: 1px solid $dark-50;
		}
	}
}