
mixin radio-button(params)
  //- Без параметров работает
  //- Принимает:
  //-   params {object}
  //-     title: ''           {string} - текст с названием пункта радиокнопки
  //-     title_2: ''         {string} - текст с названием 2-го пункта радиокнопки (при необходимости)
  //-     name: ''            {string} - имя переменной данного блока (при отстутсвии принимает значение 'empty_name')
  //-     value: ''           {string} - задание значений для переменных выбора (при отсутствии принимает значение 'value not set')
  //-     value_2: ''          {string} - задание значений для переменных выбора (при отсутствии принимает значение 'value_2 not set')

  //- Вызов:
      +radio-button({
      title     = '',
      title_2   = '',
      name      = '',
      value     = '',
      value_2   = ''
      })


    //- БЛОК ПРИСВОЕНИЯ БАЗОВЫХ ЗНАЧЕНИЙ -//
  -
    let block_name   = 'radio-button',
        default_type = 'radio',
        main_class   = block_name,
        label_class  = block_name + '__label',
        input_class  = block_name + '__input',
        button_class = block_name + '__button'
        text_class   = block_name + '__text';

    //Проверка на миксин без параметров так как 
    //при пустом params, не деструктурируются значения по умолчанию
    if (!params) {
      var params = { title: 'empty params in ='+block_name+'=' };
    }

    //деструктуризация params в переменные и задание им значений по умолчанию
    let {
      title     = '',
      title_2   = '',
      name      = 'empty_name',
      value     = 'value not set',
      value_2   = 'value_2 not set'
              } = params;


    //- ФУНКЦИОНАЛЬНЫЙ БЛОК -//

    //при пустом втором заголовке, цикл повторяетя 1 раза, иначе - 2
    let title_indicator=(title_2 == '') ? 1:2;


  //- БЛОК ВЫВОДА -//

  div(class = main_class)

    - for (let i=0; i < title_indicator; i++) {

        label(class= label_class)
          input(
            class = input_class,
            type  = default_type,
            name  = name,
            value = (i==0) ? value : value_2
            )&attributes(attributes)
          span(class= button_class)
          span(class= text_class)= (i==0) ? title : title_2
    - }