
.radio-button {
  // width: rem(320);

  &__label {
    display: inline-flex;
    align-items: center;
  }

  &__input {
  @include invisible;
  }

  &__button {
    flex-shrink: 0;
    box-sizing: border-box;
    height: rem(20);
    width: rem(20);
    background-color: $white-color;
    padding: rem(3);
    border: solid {
      color: $dark-25;
      radius: 50%;
      width: rem(1);
      }
    transition-duration: $duration/2;
  }

  &__input:checked + &__button {
    background-image: $gradient,
     radial-gradient($white-color,$white-color);
    background-clip: content-box, padding-box;
    border-color: $purple-color;
  }

  &__input:focus + &__button {
  }

  &__input:disabled + &__button {
  }

  &__input:disabled:checked + &__button {
    background-color: $gray-color;
  }


  &__text {
    padding: {
     left: rem(10);
     right: rem(20);
    }
    color: $dark-50;
    user-select: none;
    transition-property: color;
    transition-duration: $duration/2;
  }

  &__input:checked ~ &__text {
    color: $dark-75;
  }

  &__input:focus ~ &__text {
  }
}


