
mixin radio-button(params)

  //- без параметров работает как type='text' без заголовка
  //- Принимает:
  //-   params {object}
  //-     title: ''           {string} - текст с названием (выводится над полем в теге label)//при пустом поле будет input без заголовка
  //-     type: ''            {string} - модификаторы блока input ('email','date','password', 'dropdown'), при пустом поле и при date значение "text" (обрабатывается в js этого миксина)
  //-     mods: ''            {string} - ((standart||medium||short) , dropdown)
  //-     name: ''            {string} - имя блока для Form (при отстутсвии принимает значение type)
  //-     placeholder: ''     {string} - текст, показываемый, пока ничего не выбрано (аналогично html)
  //-     value: ''           {string} - редактируемый текст в поле (аналогично html)

  //- Вызов:
      +checkbox({
        text: 'название',
        type : 'text',
        mods : 'medium, dropdown',
        name : '',
        value: '',
        placeholder: ''
      })


    //- БЛОК ПРИСВОЕНИЯ БАЗОВЫХ ЗНАЧЕНИЙ -//
  -
    let block_name   = 'radio-button',
        default_type = 'radio',
        main_class   = block_name,
        input_class  = block_name + '__input';

    //Проверка на миксин без параметров так как 
    //при пустом params, не деструктурируются значения по умолчанию
    if (!params) {
      var params = { title_1: 'empty params in ='+block_name+'='};
    }

    //деструктуризация params в переменные и задание им значений по умолчанию
    let {
      title_1       = '',
      title_2       = '',
      name        = 'empty_name',
      value_1       = '',
      value_2       = '',
                } = params;


    //- ФУНКЦИОНАЛЬНЫЙ БЛОК -//


  //- БЛОК ВЫВОДА -//

  div(class = main_class)&attributes(attributes)

    label(class= main_class + '__label')
      input(
        class = input_class,
        type  = default_type,
        name  = name,
        value = value_1
        )&attributes(attributes)
      span(class= main_class + '__button')
      span(class= main_class + '__text')= title_1

    label(class= main_class + '__label')
      input(
        class = input_class,
        type  = default_type,
        name  = name,
        value = value_2
        )&attributes(attributes)
      span(class= main_class + '__button')
      span(class= main_class + '__text')= title_2