
.radio-button {
  // width: rem(320);

  &__label {
    display: inline-flex;
    align-items: center;
  }

  &__input {
  @include invisible;
  }

  &__button {
    //сердцевина
    flex-shrink: 0;
    height: rem(12);
    width: rem(12);
    background-image: $white-color;
    //белый контур
    border: solid {
      color: $white-color;
      radius: 50%;
      width: rem(3);
      }
    //вместо бордера
    box-shadow: 0 0 0 rem(1) $dark-25;
  }

  &__input:checked + &__button {
    background-image: $gradient;
    box-shadow: 0 0 0 rem(1) $purple-color;
  }

  &__input:focus + &__button {
  }

  &__input:disabled + &__button {
  }

  &__input:disabled:checked + &__button {
    background-color: $gray-color;
  }


  &__text {
    padding: {
     left: rem(10);
     right: rem(20);
    }
    color: $dark-50;
    user-select: none;
    transition-property: color;
    transition-duration: $duration/2;
  }

  &__input:checked ~ &__text {
    color: $dark-75;
  }

  &__input:focus ~ &__text {
  }
}


