
.checkbox {
  width: rem(233);

  &__label {
    display: block;
    line-height: rem(18);
    color: $dark-50;
    padding: {
      left: rem(30);
      top: rem(5);
      bottom: rem(5);
      }
  }

  &__input {
  @include invisible;
  }

  &__box {
    position: absolute;
    left: 0;
    border: solid {
      color: $purple-color;
      radius: rem(4);
      width: rem(1);
      }
    height: rem(20);
    width: rem(20);
  }

  &__input:checked + &__box {
    background: { //значок cheсk завёрнут в svg
      image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46439 2.40768L5.70703 6.65032L4.29282 8.06453L0.0501771 3.82189L1.46439 2.40768Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M8.53546 0.993466L9.94967 2.40768L4.29282 8.06453L2.8786 6.65032L8.53546 0.993466Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='7.82835' y1='0.286359' x2='2.1715' y2='5.94321' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='7.82835' y1='0.286359' x2='2.1715' y2='5.94321' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      repeat:  no-repeat;
      position: 50% 50%; 
    }
  }

  &__input:focus + &__box {
    box-shadow: rem(0.25) rem(0.25) rem(1) rem(0.25) $dark-25;
  }

  &__input:disabled + &__box {
    border-color: $dark-25;
  }

  &__input:disabled:checked + &__box {
    background:  {
      image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46439 2.40768L5.70703 6.65032L4.29282 8.06453L0.0501771 3.82189L1.46439 2.40768Z' fill='%23AAA'/%3E%3Cpath d='M8.53546 0.993466L9.94967 2.40768L4.29282 8.06453L2.8786 6.65032L8.53546 0.993466Z' fill='%23AAA'/%3E%3C/svg%3E");
      repeat:  no-repeat;
      position: 50% 50%; 
    }
  }
}


